PRINT_USERNAME=
PRINT_PASSWORD=
LOG_ENVIRONMENT=Sys
LOG_MAX_INNER_EXCEPTION_DEPTH=5
APP_ROOT=https://app-sys.linn.co.uk
AUTHORITY_URI=https://www-sys.linn.co.uk/auth/
PROXY_ROOT=https://app-sys.linn.co.uk